# bazel
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-blaze_root

# vim
*.swp

# ycm
.ycm_extra_conf.pyc

# LMDB
**/lock.mdb

# Ignore all data except trained_models

# Android Studio
.idea/

# Python
*.pyc

# IPython Notebook
.ipynb_checkpoints/

# Pytorch-lightning
lightning_logs/
